/*main*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  --blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --dark-blue-mainBG: hsl(217, 54%, 11%);
  --dark-blue-cardBG: hsl(216, 50%, 16%);
  --Cyan-hover: hsla(178, 100%, 50%, 0.502);

  text-align: center;
}
body {
  width: 100%;
  height: 100%;
  background: var(--dark-blue-mainBG);
}
.container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.bg {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 370px;
  height: 610px;
  background: var(--dark-blue-cardBG);

  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.container main img {
  border-radius: 12px;
}
.container main img:hover {
}
.container main .a-main {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: color 0.2s;
}
.container main .a-main:hover {
  color: var(--Cyan);
}
.box {
  width: 330px;
  height: 330px;
  position: absolute;
  border-radius: 12px;

  transition: background 0.2s;
}
.box:hover {
  background-color: var(--Cyan-hover);
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
}
main p {
  font-size: 1.125rem;
  text-align: left;
  color: var(--blue);
  margin-bottom: 20px;
}

/*====OBJECTS===*/

.objects {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.objects a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.objects img {
  margin-right: 10px;
}
.objects a:nth-child(1) {
  color: var(--Cyan);
}
.objects a:nth-child(2) {
  color: var(--blue);
}
/*====BARRA===*/
.bar {
  border-bottom: 1px solid var(--blue);
  margin-bottom: 20px;
}
/*====CREATOR===*/
.creator {
  display: flex;
  align-items: center;
}
.creator img {
  border-radius: 52px;
  border: 1px solid white;
  margin-right: 15px;
}
.creator p {
  color: var(--blue);
  margin-right: 2px;
}
.creator a {
  text-decoration: none;
  color: white;

  transition: color 0.2s;
}
.creator a:hover {
  color: var(--Cyan);
}
